[Unit]
Description=Cada 5 minutos, comprueba que el panel dental contesta

[Timer]
OnBootSec=10min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
